#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the dynamics node with coefficients for
#              the DIVE AUV.
#
#              Coordinates are defined relative to an arbitrary origin O with
#              vector from the origin to the center of gravity r_G and from
#              origin to center of buoyancy r_B.
#===============================================================================

#-------------------------------------------------------------------------------
# Physical parameters

# Mass in kg
m: 4505.58

# Buoyancy as percentage of mass. A buoyancy of 1 percent is entered as a 1 here
B_p: 1.0

# Inertia tensor with respect to origin O in kg*m^2 (3x3)
I_O: [ 706.95,  0.0,     0.0,
       0.0,     7291.56, 0.0,
       0.0,     0.0,     7293.65 ]

# Vector from origin O to center of mass G in meters (3x1)
r_G: [ 0.0,
       0.0,
       0.1524 ]

# Vector from origin O to center of buoyancy B in meters (3x1)
r_B: [ 0.0,
       0.0,
       0.0 ]

#-------------------------------------------------------------------------------
# Thrust parameters

# Maximum propeller RPM
max_rpm: 600.0

# Slope and intercept for a linear RPM to velocity conversion in the form of
# (y = slope * x + inter) where x is propeller RPM and y is vehicle velocity
slope:  0.0061071
inter: -0.43304

#-------------------------------------------------------------------------------
# Water current parameters

# Water current velocity in the NED frame in m/s
current_vel: [0.0, 0.0, 0.0]

#-------------------------------------------------------------------------------
# Added mass coefficients

X_udot: -1023.1
Y_udot:  0.0
Z_udot:  0.0
K_udot:  0.0
M_udot:  0.0
N_udot:  0.0

X_vdot:  0.0
Y_vdot: -4446.5684
Z_vdot:  0.0
K_vdot: -114.0
M_vdot:  0.0
N_vdot:  379.2024

X_wdot:  0.0
Y_wdot:  0.0
Z_wdot: -4209.004
K_wdot:  0.0
M_wdot: -322.7789
N_wdot:  0.0

Y_pdot:  0.0
X_pdot:  0.0
Z_pdot:  0.0
K_pdot: -2.8762
M_pdot:  0.0
N_pdot:  0.0

X_qdot:  0.0
Y_qdot:  0.0
Z_qdot: -653.453
K_qdot:  0.0
M_qdot: -6031.1139
N_qdot:  0.0

X_rdot:  0.0
Y_rdot:  246.8414
Z_rdot:  0.0
K_rdot:  0.0
M_rdot:  0.0
N_rdot: -5238.4563

#-------------------------------------------------------------------------------
# Drag coefficients

X_uu: -35.2144

Y_vv: -1743.4183
Y_rr:  3750.8609
Y_uv: -1036.491
Y_ur:  628.9048

Z_ww: -1341.7341
Z_qq: -1832.7182
Z_uw: -617.4201
Z_uq: -2211.0459

K_vv: -388.4
K_pp: -0.11744
K_uv: -130.2
K_up: -0.81468

M_ww: -5439.0657
M_qq: -4330.2543
M_uw:  3164.6033
M_uq: -4869.2105

N_vv: 5023.4373
N_rr: -8375.9204
N_uv: -3308.8356
N_ur: -2397.1745

#-------------------------------------------------------------------------------
# Elevator and rudder control coefficients

Y_uudr:  262.3615
Z_uude: -16.334
N_uudr: -493.2042
M_uude:  493.2042
