#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the dynamics node with coefficients for
#              the 690 AUV.
#
#              Coordinates are defined relative to an arbitrary origin O with
#              vector from the origin to the center of gravity r_G and from
#              origin to center of buoyancy r_B.
#===============================================================================

#-------------------------------------------------------------------------------
# Physical parameters

# Mass in kg
m: 47.650

# Buoyancy as percentage of mass. A buoyancy of 1 percent is entered as a 1 here
B_p: 0.8

# Inertia tensor with respect to origin O in kg*m^2 (3x3)
I_O: [ 0.187,  0.0,     0.0,
       0.0,    14.933,  0.0,
       0.0,    0.0,     14.933 ]

# Vector from origin O to center of mass G in meters (3x1)
r_G: [ 0.0,
       0.0,
       0.0083 ]

# Vector from origin O to center of buoyancy B in meters (3x1)
r_B: [ 0.0,
       0.0,
       0.0 ]

#-------------------------------------------------------------------------------
# Thrust parameters

# Maximum propeller RPM
max_rpm: 2000.0

# Slope and intercept for a linear RPM to velocity conversion in the form of
# (y = slope * x + inter) where x is propeller RPM and y is vehicle velocity
slope: 0.001
inter: 0.0

#-------------------------------------------------------------------------------
# Water current parameters

# Water current velocity in the NED frame in m/s
current_vel: [0.0, 0.0, 0.0]

#-------------------------------------------------------------------------------
# Added mass coefficients

X_udot: -13.047
Y_udot:  0.0
Z_udot:  0.0
K_udot:  0.0
M_udot:  0.0
N_udot:  0.0

X_vdot:  0.0
Y_vdot: -48.2396
Z_vdot:  0.0
K_vdot:  0.0
M_vdot:  0.0
N_vdot:  3.6749

X_wdot:  0.0
Y_wdot:  0.0
Z_wdot: -51.7905
K_wdot:  0.0
M_wdot: -0.76507
N_wdot:  0.0

Y_pdot:  0.0
X_pdot:  0.0
Z_pdot:  0.0
K_pdot: -0.7412
M_pdot:  0.0
N_pdot:  0.0

X_qdot:  0.0
Y_qdot:  0.0
Z_qdot:  0.67173
K_qdot:  0.0
M_qdot: -14.5177
N_qdot:  0.0

X_rdot:  0.0
Y_rdot:  2.6899
Z_rdot:  0.0
K_rdot:  0.0
M_rdot:  0.0
N_rdot: -14.5316

#-------------------------------------------------------------------------------
# Drag coefficients

X_uu: -3.2440

Y_vv: -14.2184
Y_rr:  45.2878
Y_uv: -43.0271
Y_ur:  23.6598

Z_ww: -33.9026
Z_qq: -11.824
Z_uw: -38.4995
Z_uq: -13.0932

K_vv:  0.0
K_pp: -0.2185
K_uv:  0.0
K_up: -0.6611

M_ww: -60.5
M_qq: -25.6784
M_uw:  17.8881
M_uq: -22.3806

N_vv: 33.9389
N_rr: -46.5715
N_uv: -12.0681
N_ur: -24.2459

#-------------------------------------------------------------------------------
# Elevator and rudder control coefficients

Y_uudr:  8.167
Z_uude:  8.167
N_uudr: -8.39
M_uude:  8.39
