#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the dynamics node with coefficients for
#              the 690 AUV.
#
#              Coordinates are defined relative to an arbitrary origin O with
#              vector from the origin to the center of gravity r_G and from
#              origin to center of buoyancy r_B.
#===============================================================================

#-------------------------------------------------------------------------------
# Physical parameters

# Mass in kg
m: 6.6094

# Buoyancy as percentage of mass. A buoyancy of 1 percent is entered as 1.0 here
B_p: 1.0

# Inertia tensor with respect to origin O in kg*m^2 (3x3)
I_O: [ 0.0127, 0.0,     0.0,
       0.0,    0.3872,  0.0,
       0.0,    0.0,     0.3872 ]

# Vector from origin O to center of mass G in meters (3x1)
r_G: [ 0.0,
       0.0,
       0.0254 ]

# Vector from origin O to center of buoyancy B in meters (3x1)
r_B: [ 0.0,
       0.0,
       0.0 ]

#-------------------------------------------------------------------------------
# Thrust parameters

# Maximum propeller RPM
max_rpm: 1000.0

# Slope and intercept for a linear RPM to velocity conversion in the form of
# (y = slope * x + inter) where x is propeller RPM and y is vehicle velocity
slope: 0.003
inter: 0.0

#-------------------------------------------------------------------------------
# Water current parameters

# Water current velocity in the NED frame in m/s
current_vel: [0.0, 0.0, 0.0]

#-------------------------------------------------------------------------------
# Added mass coefficients

X_udot: -0.4465
Y_udot: 0.0
Z_udot: 0.0
K_udot: 0.0
M_udot: 0.0
N_udot: 0.0

X_vdot: 0.0
Y_vdot: -8.6394
Z_vdot: 0.0
K_vdot: 0.0
M_vdot: 0.0
N_vdot: 0.0

X_wdot: 0.0
Y_wdot: 0.0
Z_wdot: -8.6394
K_wdot: 0.0
M_wdot: 0.0
N_wdot: 0.0

X_pdot: 0.0
Y_pdot: 0.0
Z_pdot: 0.0
K_pdot: 0.0
M_pdot: 0.0
N_pdot: 0.0

X_qdot: 0.0
Y_qdot: 0.0
Z_qdot: 0.3221
K_qdot: 0.0
M_qdot: -0.3955
N_qdot: 0.0

X_rdot: 0.0
Y_rdot: 0.3221
Z_rdot: 0.0
K_rdot: 0.0
M_rdot: 0.0
N_rdot: -0.3955

#-------------------------------------------------------------------------------
# Drag coefficients

X_uu: -0.8573

Y_vv: -48.9083
Y_rr: 0.4970
Y_uv: -20.5304
Y_ur: 4.1812

Z_ww: -48.9083
Z_qq: -0.4970
Z_uw: -20.5304
Z_uq: -4.1812

K_vv: 0.0
K_pp: 0.0
K_uv: 0.0
K_up: 0.0

M_ww: -0.4999
M_qq: -0.8421
M_uw: -7.8247
M_uq: -3.1778

N_vv: 0.4999
N_rr: -0.8421
N_uv: 7.8247
N_ur: -3.1778

#-------------------------------------------------------------------------------
# Elevator and rudder control coefficients

Y_uudr:  15.2931
Z_uude:  15.2931
N_uudr:  5.2532
M_uude: -5.2532
