<launch>

    <!-- =================================================================== -->
    <!-- Vehicle ID Number -->
    <!-- =================================================================== -->
    <rosparam param="/vehicle_id"> 8 </rosparam>

    <!-- =================================================================== -->
    <!-- Simulated Time -->
    <!-- =================================================================== -->
    <rosparam param="/use_sim_time"> true </rosparam>

    <!-- =================================================================== -->
    <!-- Console Logging Settings -->
    <!-- =================================================================== -->
    <rosparam param="/logging/console/enable"> true </rosparam>
    <rosparam param="/logging/console/log_node"> true </rosparam>
    <rosparam param="/logging/console/log_data"> false </rosparam>
    <rosparam param="/logging/console/log_debug"> true </rosparam>
    <rosparam param="/logging/console/log_info"> true </rosparam>
    <rosparam param="/logging/console/log_warning"> true </rosparam>
    <rosparam param="/logging/console/log_error"> true </rosparam>

    <!-- =================================================================== -->
    <!-- File Logging Settings -->
    <!-- =================================================================== -->
    <rosparam param="/logging/file/enable"> true </rosparam>
    <rosparam param="/logging/file/log_node"> true </rosparam>
    <rosparam param="/logging/file/log_data"> true </rosparam>
    <rosparam param="/logging/file/log_debug"> true </rosparam>
    <rosparam param="/logging/file/log_info"> true </rosparam>
    <rosparam param="/logging/file/log_warning"> true </rosparam>
    <rosparam param="/logging/file/log_error"> true </rosparam>

    <!-- =================================================================== -->
    <!-- avl_comms nodes -->
    <!-- =================================================================== -->

    <node name="comms_manager_node" pkg="avl_comms" type="comms_manager_node"
        clear_params="true" output="screen" required="true">
        <rosparam command="load" file="/var/avl_config/comms_manager_node.config"/>
    </node>

    <node name="ethernet_channel_node" pkg="avl_comms" type="ethernet_channel_node"
        required="true" clear_params="true" output="screen">
        <rosparam command="load" file="/var/avl_config/ethernet_channel_node.config"/>
    </node>

    <!-- <node name="acoustic_channel_node" pkg="avl_comms" type="acoustic_channel_node"
        required="true" clear_params="true" output="screen">
        <rosparam command="load" file="/var/avl_config/acoustic_channel_node.config"/>
    </node> -->

    <!-- =================================================================== -->
    <!-- avl_system nodes -->
    <!-- =================================================================== -->

    <node name="heartbeat_node" pkg="avl_system" type="heartbeat_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/heartbeat_node.config"/>
    </node>

    <node name="logging_control_node" pkg="avl_system" type="logging_control_node"
        clear_params="true" output="screen" required="true">
        <rosparam command="load" file="/var/avl_config/logging_control_node.config"/>
    </node>

    <node name="mission_manager_node" pkg="avl_system" type="mission_manager_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/mission_manager_node.config"/>
    </node>

    <node name="parameter_node" pkg="avl_system" type="parameter_node"
        clear_params="true" output="screen" required="true">
        <rosparam command="load" file="/var/avl_config/parameter_node.config"/>
    </node>

    <node name="safety_node" pkg="avl_system" type="safety_node"
        clear_params="true" output="screen" required="true">
        <rosparam command="load" file="/var/avl_config/safety_node.config"/>
    </node>

    <node name="system_command_node" pkg="avl_system" type="system_command_node"
        clear_params="true" output="screen" required="true">
        <rosparam command="load" file="/var/avl_config/system_command_node.config"/>
    </node>

    <!-- =================================================================== -->
    <!-- avl_guidance nodes -->
    <!-- =================================================================== -->

    <node name="command_guidance_node" pkg="avl_guidance" type="command_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/command_guidance_node.config"/>
    </node>

    <node name="dive_guidance_node" pkg="avl_guidance" type="dive_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/dive_guidance_node.config"/>
    </node>

    <node name="figure_eight_guidance_node" pkg="avl_guidance" type="figure_eight_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/figure_eight_guidance_node.config"/>
    </node>

    <node name="follow_guidance_node" pkg="avl_guidance" type="follow_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/follow_guidance_node.config"/>
    </node>

    <node name="line_guidance_node" pkg="avl_guidance" type="line_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/line_guidance_node.config"/>
    </node>

    <node name="loiter_guidance_node" pkg="avl_guidance" type="loiter_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/loiter_guidance_node.config"/>
    </node>

    <node name="pitch_zigzag_guidance_node" pkg="avl_guidance" type="pitch_zigzag_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/pitch_zigzag_guidance_node.config"/>
    </node>

    <node name="primitive_guidance_node" pkg="avl_guidance" type="primitive_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/primitive_guidance_node.config"/>
    </node>

    <node name="spiral_guidance_node" pkg="avl_guidance" type="spiral_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/spiral_guidance_node.config"/>
    </node>

    <node name="waypoint_guidance_node" pkg="avl_guidance" type="waypoint_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/waypoint_guidance_node.config"/>
    </node>

    <node name="yaw_zigzag_guidance_node" pkg="avl_guidance" type="yaw_zigzag_guidance_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/yaw_zigzag_guidance_node.config"/>
    </node>

    <!-- =================================================================== -->
    <!-- avl_control nodes -->
    <!-- =================================================================== -->

    <node name="height_control_node" pkg="avl_control" type="height_control_node"
        clear_params="true" required="true" output="screen">
          <rosparam command="load" file="/var/avl_config/height_control_node.config"/>
    </node>

    <node name="ss_line_control_node" pkg="avl_control" type="ss_line_control_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/ss_line_control_node.config"/>
    </node>

    <node name="orbit_control_node" pkg="avl_control" type="orbit_control_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/orbit_control_node.config"/>
    </node>

    <node name="rpm_control_node" pkg="avl_control" type="rpm_control_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/rpm_control_node.config"/>
    </node>

    <node name="pid_attitude_control_node" pkg="avl_control" type="pid_attitude_control_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/pid_attitude_control_node.config"/>
    </node>

    <node name="pid_depth_control_node" pkg="avl_control" type="pid_depth_control_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/pid_depth_control_node_ss.config"/>
    </node>

    <!-- =================================================================== -->
    <!-- avl_navigation nodes -->
    <!-- =================================================================== -->

    <node name="inertial_nav_node" pkg="avl_navigation" type="inertial_nav_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/inertial_nav_node.config"/>
    </node>

    <node name="gyrocompass_node" pkg="avl_navigation" type="gyrocompass_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/gyrocompass_node.config"/>
    </node>

    <!-- <node name="sensor_nav_node" pkg="avl_navigation" type="sensor_nav_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/sensor_nav_node.config"/>
    </node> -->

    <!-- =================================================================== -->
    <!-- avl_devices nodes -->
    <!-- =================================================================== -->

    <node name="actuators_node" pkg="avl_devices" type="actuators_node"
        clear_params="true" output="screen" required="true">
        <rosparam command="load" file="/var/avl_config/actuators_node.config"/>
    </node>

    <!-- =================================================================== -->
    <!-- avl_simulation nodes -->
    <!-- =================================================================== -->

    <node name="dynamics_manager_node" pkg="avl_simulation" type="dynamics_manager_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/dynamics_manager_node.config"/>
    </node>

    <node name="simulation_time_node" pkg="avl_simulation" type="simulation_time_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/simulation_time_node.config"/>
    </node>

    <node name="auv_dynamics_node" pkg="avl_simulation" type="auv_dynamics_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/auv_dynamics_node.config"/>
    </node>

    <node name="ahrs_sim_node" pkg="avl_simulation" type="ahrs_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/ahrs_sim_node.config"/>
    </node>

    <node name="depth_sim_node" pkg="avl_simulation" type="depth_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/depth_sim_node.config"/>
    </node>

    <node name="dvl_sim_node" pkg="avl_simulation" type="dvl_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/dvl_sim_node.config"/>
    </node>

    <node name="gps_sim_node" pkg="avl_simulation" type="gps_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/gps_sim_node.config"/>
    </node>

    <!-- <node name="height_sim_node" pkg="avl_simulation" type="height_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/height_sim_node.config"/>
    </node> -->

    <node name="imu_sim_node" pkg="avl_simulation" type="imu_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/imu_sim_node.config"/>
    </node>

    <node name="lbl_range_sim_node" pkg="avl_simulation" type="lbl_range_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/lbl_range_sim_node.config"/>
    </node>

    <!-- <node name="multibeam_sonar_sim_node" pkg="avl_simulation" type="multibeam_sonar_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/multibeam_sonar_sim_node.config"/>
    </node> -->

    <node name="pingdsp_sonar_sim_node" pkg="avl_simulation" type="pingdsp_sonar_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/pingdsp_sonar_sim_node.config"/>
    </node>

    <node name="rpm_sim_node" pkg="avl_simulation" type="rpm_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/rpm_sim_node.config"/>
    </node>

    <!-- <node name="whoi_micromodem_sim_node" pkg="avl_simulation" type="whoi_micromodem_sim_node"
        clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/whoi_micromodem_sim_node.config"/>
    </node> -->

    <!-- =================================================================== -->
    <!-- Tester Nodes -->
    <!-- =================================================================== -->

    <!-- <node name="fsd_tester_node" pkg="avl_comms" type="fsd_tester_node"
            clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/fsd_tester_node.config"/>
    </node> -->

    <!-- <node name="bsd_tester_node" pkg="avl_comms" type="bsd_tester_node"
            clear_params="true" required="true" output="screen">
        <rosparam command="load" file="/var/avl_config/bsd_tester_node.config"/>
    </node> -->

    <!-- =================================================================== -->
    <!-- rosbridge -->
    <!-- =================================================================== -->

    <include file="$(find rosbridge_server)/launch/rosbridge_tcp.launch">
       <arg name="bson_only_mode" value="false"/>
    </include>

    <!-- =================================================================== -->
    <!-- Parameter Overrides -->
    <!-- =================================================================== -->

    <!-- Use sim init mode -->
    <param name="/inertial_nav_node/init_mode" type="int" value="4" />

</launch>
