<launch>

    <!-- =================================================================== -->
    <!-- rosbridge -->
    <!-- =================================================================== -->

    <include file="$(find rosbridge_server)/launch/rosbridge_tcp.launch">
       <arg name="bson_only_mode" value="false"/>
    </include>

</launch>
