<launch>

    <!-- =================================================================== -->
    <!-- Simulated Time -->
    <!-- =================================================================== -->
    <rosparam param="/use_sim_time"> true </rosparam>

    <!-- =================================================================== -->
    <!-- Console Logging Settings -->
    <!-- =================================================================== -->
    <rosparam param="/logging/console/enable"> true </rosparam>
    <rosparam param="/logging/console/log_node"> true </rosparam>
    <rosparam param="/logging/console/log_data"> false </rosparam>
    <rosparam param="/logging/console/log_debug"> true </rosparam>
    <rosparam param="/logging/console/log_info"> true </rosparam>
    <rosparam param="/logging/console/log_warning"> true </rosparam>
    <rosparam param="/logging/console/log_error"> true </rosparam>

    <!-- =================================================================== -->
    <!-- File Logging Settings -->
    <!-- =================================================================== -->
    <rosparam param="/logging/file/enable"> true </rosparam>
    <rosparam param="/logging/file/log_node"> true </rosparam>
    <rosparam param="/logging/file/log_data"> true </rosparam>
    <rosparam param="/logging/file/log_debug"> true </rosparam>
    <rosparam param="/logging/file/log_info"> true </rosparam>
    <rosparam param="/logging/file/log_warning"> true </rosparam>
    <rosparam param="/logging/file/log_error"> true </rosparam>


    <!-- =================================================================== -->
    <!-- avl_simulation nodes -->
    <!-- =================================================================== -->

    <node name="simulation_time_node" pkg="avl_simulation" type="simulation_time_node"
        clear_params="true" required="true" output="screen" ns="1">
        <rosparam command="load" file="/var/avl_config/1/simulation_time_node.config"/>
    </node>

</launch>
