#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the microstrain AHRS simulation node.
#===============================================================================

# Magnetic field strength in Gauss
mag_field_strength: 0.5

# Sensor output rate in Hz
iteration_rate: 100.0

# Sensor error settings --------------------------------------------------------
att_err:
    N: 3
    cov: [5.8982e-09, 5.8982e-09, 5.8982e-09] # Experimental value from 3DM-GX5-25
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]

gyro_err:
    N: 3
    cov: [7.6150e-07, 7.6150e-07, 7.6150e-07] # from 3DM-GX5-25 datasheet
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]

accel_err:
    N: 3
    cov: [3.8468e-06, 3.8468e-06, 3.8468e-06] # from 3DM-GX5-25 datasheet
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]

mag_err:
    N: 3
    cov: [1.21e-06, 1.21e-06, 1.21e-06] # Experimental value from 3DM-GX5-25
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]
