#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the depth sensor simulation node.
#===============================================================================

# Sensor output rate in Hz
iteration_rate: 5.0

# Altitude of sea level in meters
alt_sealevel: 0.0

# Sensor error settings --------------------------------------------------------
depth_err:
    N: 1
    cov: [0.001] # Experimental value from Keller 30X
    M: [1.0]
    b: [0.0]
