#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the DVL simulation node.
#===============================================================================

# Sensor output rate in Hz
iteration_rate: 5.0

# Sensor error settings --------------------------------------------------------
vel_err:
    N: 3
    cov: [1.7640e-04, 1.7640e-04, 1.7640e-04] # Experimental value from Linkquest DVL
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]

# Janus angle of the dvl beams
janus_angle: 30.0
