#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the height sensor simulation node.
#===============================================================================

# Sensor output rate in Hz
iteration_rate: 2.0

# Altitude of sea level in meters
alt_seafloor: -25.0

# Sensor error settings --------------------------------------------------------
height_err:
    N: 1
    cov: [0.1] # Made up value
    M: [1.0]
    b: [0.0]
