#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the IMU simulation node.
#===============================================================================

# Sensor output rate in Hz
iteration_rate: 100.0

# Sensor error settings --------------------------------------------------------
# Noise values from datasheet of KVH 1750 IMU
gyro_err:
    N: 3
    cov: [1.2186e-09, 1.2186e-09, 1.2186e-09] # rad/sec
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]

accel_err:
    N: 3
    cov: [5.5394e-06, 5.5394e-06, 5.5394e-06] # m/sec^2
    M: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]
    b: [0.0, 0.0, 0.0]
