#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the LBL range simulation node.
#===============================================================================

# Beacon positions

beacon_lats: [ 37.059261 ]
beacon_lons: [ -80.614487 ]
beacon_alts: [ -10.0 ]

# beacon_lats: [ 37.059261, 37.057586, 37.056801 ]
# beacon_lons: [ -80.614487, -80.616283, -80.612421 ]
# beacon_alts: [ -10.0, -10.0, -10.0 ]

# Sensor output rate in Hz
iteration_rate: 0.2

# Sensor error settings --------------------------------------------------------
range_err:
    N: 1
    cov: [1.0]
    M: [1.0]
    b: [0.0]
