#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the height sensor simulation node.
#===============================================================================

# Path to the terrain map
terrain_map_filepath: /home/eagle/Desktop/terrain_map.txt

# Number of beams and the total swath width of the sonar. Beams will be
# generated to be linearly spaced along the swath width
num_beams: 5
swath_width: 100.0

# Sensor output rate in Hz
iteration_rate: 1.0

# Sensor covariance
cov: 0.1 # m^2
