#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the LBL range simulation node.
#===============================================================================

# Beacon initial position in degrees and meters
beacon_lat: 37.059503
beacon_lon: -80.615772
beacon_alt: -10.0

# Beacon movement speed in the North, East and Down directions in m/s
beacon_speed_N: 0.5
beacon_speed_E: 0.0
beacon_speed_D: 0.0

# Sensor output rate in Hz
iteration_rate: 0.2

# Sensor error settings --------------------------------------------------------
range_err:
    N: 1
    cov: [5.0]
    M: [1.0]
    b: [0.0]
