#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the RPM sensor simulation node.
#===============================================================================

# Sensor output rate in Hz
iteration_rate: 2.0

# Sensor error settings --------------------------------------------------------
rpm_err:
    N: 1
    cov: [0.0]
    M: [1.0]
    b: [0.0]
