#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the whoi micromodem simulation node.
#===============================================================================


# UDP multicast address and port to transmit and receive packets on if UDP
# protocol is selected
udp_address: 224.0.0.176
udp_tx_port: 1776
udp_rx_port: 1776
