#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for dynamics manager node.
#===============================================================================

# Initial roll, pitch, and yaw in degrees
initial_att: [0.0, 0.0, 45.0]

# Initial body frame x, y, and z velocity in m/s
initial_vel: [0.0, 0.0, 0.0]

# Initial latitude, longitude, and altitude in degrees and meters
initial_pos: [37.057976, -80.614375, 0.0]

# Dynamics and kinematics iteration rate in Hz
iteration_rate: 100.0

# Lock axes. Setting an element to true will lock the element of nu to its
# initial condition set in nu0.
nu_lock: [false, false, false, false, false, false]
