#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for simulation time node.
#===============================================================================

# Default simulation time multiplier. 1.0 is real time, 2.0 is double real
# time, etc.
default_sim_time_multiplier: 1.0

# Rate in Hz that clock messages are published
clock_rate: 10000.0
